.bannerAffiches {
  background-color: black;
  background-image: url(/img_sections_créations/affiche.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}

.listAffiches {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 50px 0;
  padding: 0 100px;
  justify-content: center;
}

.listAffiches a {
  max-width: 85%;
}

.listAffiches img {
  max-height: 650px;
  margin: 20px;
  max-width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 2200px) {
  .listAffiches img {
    max-height: 550px;

  }
}
@media screen and (max-width: 1920px){
  .bannerAffiches {
    height: 170px;
  }
  .listAffiches img {
    max-height: 500px;
  }
}
@media screen and (max-width: 990px) {
  .listAffiches {
    padding: 0;
    margin: 15px 0;
  }
}

@media screen and (max-width: 700px) {
  .listAffiches img {
    margin: 5px 0;
  }
}

@media screen and (max-width: 550px) {
  .bannerAffiches {
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  footer {
    display: none;
  }

  .listAffiches {
    margin: 25px 0 100px 0;
  }
}
