
.listAffiches {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 80px 100px;
  justify-content: center;
}

.listAffiches a {
  max-width: 85%;
}

.listAffiches img {
  max-height: 650px;
  margin: 20px;
  max-width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 2200px) {
  .listAffiches img {
    max-height: 550px;
  }
  .listAffiches {
    padding: 40px 100px;
  }
}
@media screen and (max-width: 1300px) {
  .listAffiches img {
    max-height: 400px;
  }
  .listAffiches {
    padding: 0;
    margin: 15px 0;
  }
}
@media screen and (max-width: 990px) {
  .listAffiches {
    padding: 0;
    margin: 15px 0;
  }
}

@media screen and (max-width: 700px) {
  .listAffiches img {
    margin: 5px 2px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    display: none;
  }

  .listAffiches {
    margin: 25px 0 100px 0;
  }
}
