.bannerCountry {
  background-image: url(/banner/projets.png);
  background-position: center;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.CountrySection1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.CountryP1,
.CountryP2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 17px;
  margin: 50px auto;
  align-items: center;
}
.CountryP1 p {
  width: 40%;
  text-align: justify;
}
.CountryP1 a {
  color: black;
}
.CountryP1 a:hover {
  color: #453f7a;
}
.CountryP2 p {
  width: 40%;
  text-align: justify;
}
.CountryP1 img {
  height: 270px;
  margin: 0 50px;
}
.CountryP2 img {
  height: 270px;
  margin: 0 50px;
}
.CountrySection2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #453f7a;
  max-width: 100%;
  min-height: 200px;
  padding: 50px 0;
}
.CountrySection2 img {
  max-width: 85%;
  max-height: 550px;
  padding: 10px 0;
  margin: 10px;
}

@media screen and (max-width: 840px) {
  .CountryP1 p {
    width: 80%;
    margin: 0 25px 50px 25px;
  }
  .CountryP2 p {
    width: 80%;
    margin: 50px 30px 0 25px;
  }
}
@media screen and (max-width: 550px) {
  .bannerCountry {
    height: 120px;
  }
}
@media screen and (max-width: 480px) {
  .CountrySection2 {
    padding: 15px;
    margin: 0 0 50px 0;
  }

  .CountrySection2 img {
    max-width: 100%;
    margin: 0;
  }

  .CountryP2 img {
    max-width: 95%;
  }

  .CountryP1 {
    margin: 20px 0 0 0;
  }

  .CountryP1 p {
    margin: 5px 0 20px 0;
    padding: 0 50px;
    font-size: 1rem;
    line-height: 22px;
  }

  .CountryP2 {
    margin: 25px 0;
  }

  .CountryP2 p {
    margin: 20px 0 0 0;
    padding: 0 50px;
    font-size: 1rem;
    line-height: 23px;
  }

  footer {
    display: none;
  }
}
