
.listCréations {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  justify-content: center;
  align-items: center;
  padding: 50px 460px;
  max-width: 100%;
  max-height: 100%;
}
.Création {
  margin: 35px 75px;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 440px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 14px 14px 20px 0px #cfd3d2;
  transition: 0.2s;
}
.Création_img {
  max-width: 100%;
  max-height: 78%;
}

.Création_img img {
  max-width: 100%;
  border-radius: 0 0 25px 25px;
 }

.Création:hover {
  transform: scale(1.1);
}
.Création_p {
  background-color: #f3f3f3;
  font-weight: 800;
  font-size: 1.3rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Création a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 2100px) {
  .listCréations { 
    padding: 40px 300px;
  }
}

@media screen and (max-width: 1950px) {
  .Création {
    margin: 20px 50px;}
    
    .listCréations { 
    padding: 30px 220px;
  }
}

@media screen and (max-width: 1550px) {
  .listCréations { 
    padding: 40px 150px;
  }
  
  .Création {
    margin: 15px 20px;
    height: 200px;
    width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .listCréations { 
    padding: 40px 0px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    display: none;
  }
  .Création:hover {
    transform: none;
  }
  .listCréations {
    margin: 5px 0 50px 0;
  }
  .Création {
    margin: 15px 10px;
    height: 170px;
    width: 340px;
  }
}

@media screen and (max-width: 390px) {
  .Création {
    height: 150px;
    width: 300px;
  }
}