  .listPhotographies {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;
    justify-content: center;
    max-width: 100%;
    padding: 0 200px;
    align-items: center;
  }

   .listPhotographies a {
    max-width: 95%;
  }

  .listPhotographies img {
    max-height: 300px;
    margin: 20px;
    max-width: 100%;
  }

  @media screen and (max-width: 1670px) {
    .listPhotographies {
      padding: 0;
    }
  }

  @media screen and (max-width: 680px) {
    .listPhotographies img {
      margin: 5px;
    }
  }

  @media screen and (max-width: 475px) {
    .listPhotographies img {
      margin: 5px 0;
    }
  }

  @media screen and (max-width: 480px) {
    footer {
      display: none;
    }
  
    .listPhotographies {
      margin: 25px 0 100px 0;

    }
  }