.Contact {
  display: flex;
  padding: 150px 300px;
}
.infosContact {
  padding: 0 100px 
}
.TexteContact {
  font-size: 1.4em;
  padding: 0 100px;
}
.listContact {
  display: flex;
  flex-wrap: wrap;
  margin: 130px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.listContact img {
  height: 100%;
  width: 100%;
}
.listContact a {
  width: 110px;
}
.logoContact {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: center;
  align-items: center;
  padding: 15px 0;
  font-size: 1.1em;
  text-transform: uppercase;
}
.logoContact:hover {
  color: #0b5548;
  text-decoration: underline;
}

.ImgContact {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 2300px) {
  .infosContact {
    padding: 0 
  }
  .Contact {
    padding: 110px 230px;
  }
  .listContact {
    margin: 60px 0 0 0 ;
  }
  .listContact a {
    width: 100px;
  }
  .TexteContact {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1880px) {
  .Contact {
    padding: 80px 180px;
  }
  
  .ImgContact img {
    height: 350px;
  }
  .TexteContact { 
    padding: 0 90px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1560px) {
  .TexteContact { 
    padding: 0 100px;
  }
  .ImgContact img {
    height: 300px;
  }
  .Contact {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 1110px) {
  .TexteContact { 
    padding: 0;
  }
  .Contact {
    padding: 80px 70px;
  }
  .listContact a {
    width: 70px;
  }
}

@media screen and (max-width: 950px) {
  .Contact {
    padding: 80px 30px;
  }
  .listContact a {
    width: 60px;
  }
  .ImgContact img {
    height: 260px;
  }
}

@media screen and (max-width: 850px) {
  .ImgContact {
    padding: 50px 0;
  }
  .ImgContact img {
    max-width: 95%;
    height: 250px;
  }

  .Contact {
    display: flex;
    padding: 50px 25px 100px;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .listContact {
    flex-direction: column;
    padding: 0 0 20px 0;
    margin: 15px 0;
  }
  .ImgContact {
    padding: 10px 0;
  }

  .listContact a {
    width: 80px;
  }
}