.justreadSection1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.justreadP1,
.justreadP2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.1rem;
  margin: 50px auto;
  align-items: center;
}

.justreadP1 p {
  width: 40%;
  text-align: justify;
}

.justreadP2 p {
  width: 40%;
  text-align: justify;
}
.justreadP2 a {
  color: black;
}

.justreadP2 a:hover {
  color: #f9cacc;
}

.justreadP1 img {
  height: 270px;
  margin: 0 50px;
}

.justreadP2 img {
  height: 270px;
  margin: 0 50px;
}

.justreadSection2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #ccd8ea;
  max-width: 100%;
  min-height: 500px;
  align-items: center;
  padding: 50px 0;
}

.justreadSection2 img {
  max-width: 100%;
  max-height: 550px;
  border-radius: 20px;
  box-shadow: 14px 14px 20px 0px #9c9c9c;
  margin: 10px 0;
  transition: 0.2s;
}
.justreadSection2 img:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 1300px) {
  .justreadSection2 {
    min-height: 400px;
  }
  .justreadSection2 img {
    max-height: 450px;
  }
}
@media screen and (max-width: 840px) {
  .justreadP1 p {
    width: 80%;
    margin: 0 25px 50px 25px;
  }
  .justreadP2 p {
    width: 80%;
    margin: 50px 30px 0 25px;
  }
  .justreadSection2 img:hover {
    transform: none;
  }
}
@media screen and (max-width: 480px) {
  .justreadP1 p,
  .justreadP1 img {
    animation: none;
  }
  .justreadP2 p,
  .justreadP2 img {
    animation: none;
  }
  .justreadSection2 {
    padding: 15px;
  }

  .justreadSection2 img {
    max-width: 100%;
    margin: 15px 0;
  }
  .justreadP2 img {
    max-width: 95%;
  }

  .justreadP1 {
    margin: 15px 0;
  }

  .justreadP1 p {
    margin: 5px 0 25px 0;
    padding: 0;
    font-size: 1rem;
    line-height: 22px;
  }

  .justreadP2 {
    margin: 30px 0;
  }

  .justreadP2 p {
    margin: 25px 0 0 0;
    padding: 0;
    font-size: 1rem;
    line-height: 22px;
  }

  footer {
    display: none;
  }
  .justreadSection2 {
    margin: 0 0 50px 0;
  }
}
